<ul>
  <%= for estimate <- @estimates do %>
    <li class="<%= if(Estimate.pending?(estimate), do: "estimate tag is-light", else: "estimate tag is-success")%>">
      <%= vote_string(@round, estimate) %>
    </li>
  <% end %>
</ul>
